@charset "UTF-8";

        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgba(71, 87, 166, 65);
            margin: 0px;
            
        }
        h1{
            color: white;
        }
        header{
            background-image: linear-gradient(to bottom, rgba(88, 107, 204, 80), rgba(30, 36, 166, 65));  
             margin: 10px;  
            padding: 10px;
        }
        nav{
            background-color: rgba(71, 87, 166, 65);
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315 );
            padding: 5px;
            
        }
         nav > a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-right: 30px;
            margin-bottom: 5px;
            padding: 5px;
        
        }
        nav > a:hover{
            text-decoration: underline;
            color: black;  
        }
        main{
            background-color: rgba(110, 134, 255, 100);
            padding: 10px;
            margin: 10px;
            
            
        }
      
        article{
            background-color: rgba(88, 107, 204, 0.80);
            padding: 10px;
            margin: 10px;
            border-radius: 0px 0px 10px 10px;
            

        }
         article > aside{
            background-color: rgba(71, 87, 166, 65);
            margin-bottom: 22px;
            font-size: 14px;
            color: white;
        }
         picture > img{
            border-radius: 10px;
            box-shadow: 10px ;
            
            margin: 0;
            padding: 0px;
             
        }
      
         footer{
           background-color: rgba(30, 36, 69, 27);
           color: wheat;
           text-align: center;
           padding: 8px;
           margin: 0px;
           
        } 
        footer > p{
            margin: 0px;
        } 
       div{
        text-align: center;
       }
        div > a{
            
            
            text-decoration: underline;
            font-weight: bold;
            color: white;
        
        }
        div > a:hover{
            color: black;
            text-decoration: none;
        }
  
      
